.content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 10% 4px 10%;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    border-radius: 7px;
    box-shadow: 1px 7px 7px 1px gray;
}

.brand-text {
    font-weight: bolder;
    margin-left: 20px;
}

div[data-role="nav-bar"] {
    font-weight: bold;
    color: rgb(200, 50, 12);
    margin-right: 10px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }    
    li {
        padding: 10px;
        text-decoration: underline;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

